mixin item(title, descr)
    .item
        h2.item-title= test
        p.item-descr= descr

mixin navlink(adress, name, navclass)
    li.nav__item
        a(class= navclass href= adress)= name

mixin services-item(srv_icon, srv_name, srv_desc)
    .services-item
        i(class='ic ' + srv_icon)
        .services__name= srv_name
        .services__desc= srv_desc

mixin previews-item(previews_icon, previews_name, previews_text)
    .previews-item
        .previews-item__wrapper
            i(class='ic ' + previews_icon)
            .previews-item__content
                .previews-item__name= previews_name
                .previews-item__text= previews_text
                .previews-item__rate
                    .rate__icon
                    .rate__text